:root {
    --cor-principal: #3c59e7;
    --cor-clara: #eaeaea;
    --preenchimento: 1rem;
    --preenchimento: 2rem;
}

h1 {
    background-color: var(--cor-principal);
    color: var(--cor-clara);
}