* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

ul {
    padding: 0;
    text-align: center;
}

li {
   list-style-type: none; 
   margin: 0;
   padding: 0;
}

.box {
    background-color: #343A40;
    color: #FFFFFF;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    width: 25%;
    height: 200px;
    text-align: left;
    border-radius: 10px;
}

.container {
    margin: 0px auto;
}